/* lato-300 - latin_latin-ext */
@font-face {
	  font-family: 'Lato';
	    font-style: normal;
		  font-weight: 300;
		    src: local('Lato Light'), local('Lato-Light'),
			       url('../fonts/lato-v11-latin_latin-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
				          url('../fonts/lato-v11-latin_latin-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-300italic - latin_latin-ext */
@font-face {
	  font-family: 'Lato';
	    font-style: italic;
		  font-weight: 300;
		    src: local('Lato Light Italic'), local('Lato-LightItalic'),
			       url('../fonts/lato-v11-latin_latin-ext-300italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
				          url('../fonts/lato-v11-latin_latin-ext-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin_latin-ext */
@font-face {
	  font-family: 'Lato';
	    font-style: normal;
		  font-weight: 400;
		    src: local('Lato Regular'), local('Lato-Regular'),
			       url('../fonts/lato-v11-latin_latin-ext-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
				          url('../fonts/lato-v11-latin_latin-ext-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin_latin-ext */
@font-face {
	  font-family: 'Lato';
	    font-style: normal;
		  font-weight: 700;
		    src: local('Lato Bold'), local('Lato-Bold'),
			       url('../fonts/lato-v11-latin_latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
				          url('../fonts/lato-v11-latin_latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700italic - latin_latin-ext */
@font-face {
	  font-family: 'Lato';
	    font-style: italic;
		  font-weight: 700;
		    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
			       url('../fonts/lato-v11-latin_latin-ext-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+ */
				          url('../fonts/lato-v11-latin_latin-ext-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

