<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>J.M. Porup by toholdaquill</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>J.M. Porup</h1>
        <p>to hold a quill is to be at war.<BR>&mdash;Voltaire</p>

        <p class="view"><a href="https://www.twitter.com/toholdaquill">@toholdaquill</a></p>
<hr>
<p>
want to <b><a href="https://www.github.com/toholdaquill/contact">contact me</a> securely?</b>
</p>
<hr>
<p>
sign up for my <a href="https://tinyletter.com/toholdaquill/">newsletter</a>.
</p>

      </header>
      <section>

{{ content }}

   </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
