---
layout: shortstory
---
{% include base.html %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>J.M. Porup by toholdaquill</title>

    <link rel="stylesheet" href="{{ base }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ base }}/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p>a short story by <a href="https://www.JMPorup.com/">J.M. Porup</a> (<a href="https://www.twitter.com/toholdaquill">@toholdaquill</a>)</p>
<hr>
<p>
sign up for the <a href="https://tinyletter.com/toholdaquill/">newsletter</a>
</p>
<hr>

      </header>
      <section>

{{ content }}

   </section>
    </div>
    <script src="{{ base }}/javascripts/scale.fix.js"></script>
    
  </body>
</html>
